footer {
    background: $accentColor;
    color: $backgroundColor;
    p {
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        font-size: calc(1.6rem + (18 - 16) * ((100vw - 320px) / (1600 - 320)));
    }
}